.image-banner {
    background-image: url(./Photos/bg-1.jpg);
}
.Hall {
    background-image: url(./Photos/hallIcons.jpg);
}

.Cars {
    background-image: url(./Photos/carRental.jfif);
}

.Musican {
    background-image: url(./Photos/musciv.jpg);
}

.Sweeta{
    background-image: url(./Photos/imk.jpg);
}
