<!DOCTYPE html>
<html lang="en">
  <head>
    <title>WHR</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    
    <link href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Alex+Brush" rel="stylesheet">

    <link rel="stylesheet" href="~/Assets/css/open-iconic-bootstrap.min.css">
    <link rel="stylesheet" href="~/Assets/css/animate.css">
    
    <link rel="stylesheet" href="~/Assets/css/owl.carousel.min.css">
    <link rel="stylesheet" href="~/Assets/css/owl.theme.default.min.css">
    <link rel="stylesheet" href="~/Assets/css/magnific-popup.css">

    <link rel="stylesheet" href="~/Assets/css/aos.css">

    <link rel="stylesheet" href="~/Assets/css/ionicons.min.css">

    <link rel="stylesheet" href="~/Assets/css/bootstrap-datepicker.css">
    <link rel="stylesheet" href="~/Assets/css/jquery.timepicker.css">

    
    <link rel="stylesheet" href="~/Assets/css/flaticon.css">
    <link rel="stylesheet" href="~/Assets/css/icomoon.css">
    <link rel="stylesheet" href="~/Assets/css/style.css">
    <link rel="stylesheet" href="~/Assets/Images.css">
  </head>
  <body>
    
  <nav class="navbar navbar-expand-lg navbar-dark ftco_navbar bg-dark ftco-navbar-light" id="ftco-navbar">
    <div class="container">
      <a class="navbar-brand" asp-action="Index">WHR</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#ftco-nav" aria-controls="ftco-nav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="oi oi-menu"></span> Menu
      </button>

      <div class="collapse navbar-collapse" id="ftco-nav">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item"><a asp-controller="Main" asp-action="Index" class="nav-link">Home</a></li>
          <li class="nav-item"><a asp-controller="Main" asp-action="Service" class="nav-link">Services</a></li>
          <li class="nav-item"><a asp-controller="Main" asp-action="History" class="nav-link">My Reservations</a></li>
                    @if (@ViewData["Title"].ToString()=="Login")
                    {
                         <li class="nav-item cta"><a asp-controller="Main" asp-action="Login" class="nav-link"><span>Sign In</span></a></li>
                    }
                    else
                    {
                         <li class="nav-item cta"><a asp-controller="Main" asp-action="Logout" class="nav-link"><span>Sign Out</span></a></li>
                    }
                   
        </ul>
      </div>
    </div>
  </nav>
    <!-- END nav -->
      <div>
        

          @RenderBody();
      </div>

    <footer class="ftco-footer ftco-bg-dark ftco-section">
      <div class="container">
        <div class="row mb-5">
          <div class="col-md">
            <div class="ftco-footer-widget mb-4">
              <h2 class="ftco-heading-2">WHR</h2>
              <p>
                  To help those who are planning 
                  to get married in finding wedding halls 
                  and other services at the best prices.
                  Helping the owners of wedding services 
                  to provide their services to users at the best prices.

              </p>
             
            </div>
          </div>

          <div class="col-md">
             <div class="ftco-footer-widget mb-4">
              <h2 class="ftco-heading-2">Customer Support</h2>
              <ul class="list-unstyled">
                <li><a href="#" class="py-2 d-block">FAQ</a></li>
                <li><a href="#" class="py-2 d-block">Payment Option</a></li>
               
              </ul>
            </div>
          </div>
          <div class="col-md">
            <div class="ftco-footer-widget mb-4">
            	<h2 class="ftco-heading-2">Have a Questions?</h2>
            	<div class="block-23 mb-3">
	              <ul>
	                <li><span class="icon icon-map-marker"></span><span class="text">Amman - Jordan </span></li>
	                <li><a href="#"><span class="icon icon-phone"></span><span class="text">+962786928448</span></a></li>
	                <li><a href="#"><span class="icon icon-envelope"></span><span class="text">info@whrAdminResponsive.com</span></a></li>
	              </ul>
	            </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12 text-center">

            <p><!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
  Copyright &copy;<script>document.write(new Date().getFullYear());</script> All rights reserved | This Site is made with <i class="icon-heart" aria-hidden="true"></i> by <a href="https://colorlib.com" target="_blank">WHR Teams</a>
  <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. --></p>
          </div>
        </div>
      </div>
    </footer>
    
  

  <!-- loader -->
  <div id="ftco-loader" class="show fullscreen"><svg class="circular" width="48px" height="48px"><circle class="path-bg" cx="24" cy="24" r="22" fill="none" stroke-width="4" stroke="#eeeeee"/><circle class="path" cx="24" cy="24" r="22" fill="none" stroke-width="4" stroke-miterlimit="10" stroke="#F96D00"/></svg></div>


  <script src="~/Assets/js/jquery.min.js"></script>
  <script src="~/Assets/js/jquery-migrate-3.0.1.min.js"></script>
  <script src="~/Assets/js/popper.min.js"></script>
  <script src="~/Assets/js/bootstrap.min.js"></script>
  <script src="~/Assets/js/jquery.easing.1.3.js"></script>
  <script src="~/Assets/js/jquery.waypoints.min.js"></script>
  <script src="~/Assets/js/jquery.stellar.min.js"></script>
  <script src="~/Assets/js/owl.carousel.min.js"></script>
  <script src="~/Assets/js/jquery.magnific-popup.min.js"></script>
  <script src="~/Assets/js/aos.js"></script>
  <script src="~/Assets/js/jquery.animateNumber.min.js"></script>
  <script src="~/Assets/js/bootstrap-datepicker.js"></script>
  <script src="~/Assets/js/jquery.timepicker.min.js"></script>
  <script src="~/Assets/js/scrollax.min.js"></script>
  <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBVWaKrjvy3MaE7SQ74_uJiULgl1JY0H2s&sensor=false"></script>
  <script src="~/Assets/js/google-map.js"></script>
  <script src="~/Assets/js/main.js"></script>
  <script src="https://kit.fontawesome.com/2bf99209de.js" crossorigin="anonymous"></script>
    
  </body>
</html>